body {
  background-color: rgb(197, 197, 197);
  margin: 1%;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  flex-direction: row-reverse;
}

.logo {
  text-transform: uppercase;
  margin: 0 20px;
}

/* Info */

.info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 40px 40px 40px 0%;
}

.info-img {
  background: #242424;
  height: 300px;
  width: 300px;
}

.info-img img {
  height: 300px;
  width: 300px;
}

.info-text {
  padding: 87px 26%;
  position: relative;
  top: 80px;
  right: 8%;
  background: #6a6a6a;
  z-index: -1;
}

.info-text a {
  display: flex;
  flex-direction: row-reverse;
}

/* Works */

.portfolio {
  margin: 100px 40px 40px 40px;
}

.portfolio-img {
  display: flex;
  justify-content: center;
}

.portfolio-img img {
  margin: 10px;
  height: 300px;
  width: 400px;
}

.portfolio a {
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
}

/* Skills */

.skills {
  margin: 40px;
}

.skills-blocks {
  display: flex;
  justify-content: center;
}

.skills-blocks-block {
  margin: 10px;
}

.skills-blocks-block img {
  height: 300px;
  width: 300px;
}

/* Contact */

/* Footer */
