:root {
  --first-color: #666;
  --secondary-color: #afafaf;
}

body {
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background: var(--first-color);
}

.logo {
  text-transform: uppercase;
  margin-left: 20px;
}

nav {
  display: flex;
  margin: 20px;
  position: relative;
  top: 20px;
}

nav a {
  padding: 10px;
}

/* Info */

.info {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
}

.info-img img {
  height: 300px;
  width: 300px;
}

.info-text {
  margin: 20px;
}

.info-text a {
  display: flex;
  flex-direction: row-reverse;
}

/* Works */

.portfolio {
  background: var(--first-color);
}

.portfolio h2 {
  margin: 0;
}

.portfolio-img {
  display: flex;
  justify-content: center;
}

.portfolio-img img {
  margin: 10px;
  height: 300px;
  width: 400px;
}

.portfolio a {
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
}

/* Skills */

.skills {
  background: var(--first-color);
  padding: 40px;
}

.skills-blocks {
  display: flex;
  justify-content: space-between;
}

.skills-blocks-block {
  margin: 10px;
}

.skills-blocks-block img {
  height: 300px;
  width: 300px;
}

/* Contact */

.contact {
  display: flex;
  justify-content: center;
}

.contact-text {
  margin: 20px 0;
}

.contact-form form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.contact-form input {
  margin: 10px;
}

.contact-form textarea {
  margin: 10px;
}

.contact-form button {
  margin: 10px;
}

/* Footer */
